[submodule "lib/nrfx"]
	path = lib/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS.git
[submodule "lib/avr"]
	path = lib/avr
	url = https://github.com/avr-rust/avr-mcu.git
[submodule "lib/cmsis-svd"]
	path = lib/cmsis-svd
	url = https://github.com/posborne/cmsis-svd
[submodule "lib/compiler-rt"]
	path = lib/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
	branch = release_70
