[submodule "lib/nrfx"]
	path = lib/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS.git
[submodule "lib/avr"]
	path = lib/avr
	url = https://github.com/avr-rust/avr-mcu.git
[submodule "lib/cmsis-svd"]
	path = lib/cmsis-svd
	url = https://github.com/tinygo-org/cmsis-svd
[submodule "lib/wasi-libc"]
	path = lib/wasi-libc
	url = https://github.com/CraneStation/wasi-libc
[submodule "lib/picolibc"]
	path = lib/picolibc
	url = https://github.com/keith-packard/picolibc.git
[submodule "lib/stm32-svd"]
	path = lib/stm32-svd
	url = https://github.com/tinygo-org/stm32-svd
[submodule "lib/musl"]
	path = lib/musl
	url = git://git.musl-libc.org/musl
[submodule "lib/binaryen"]
	path = lib/binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "lib/mingw-w64"]
	path = lib/mingw-w64
	url = https://github.com/mingw-w64/mingw-w64.git
[submodule "lib/macos-minimal-sdk"]
	path = lib/macos-minimal-sdk
	url = https://github.com/aykevl/macos-minimal-sdk.git
[submodule "src/net"]
	path = src/net
	url = https://github.com/tinygo-org/net.git
	branch = dev
